@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--body-color);
  background: linear-gradient(
    -45deg,
    rgba(6, 0, 112, 1) 0%,
    rgba(22, 22, 205, 1) 8%,
    rgba(30, 30, 233, 1) 37%,
    rgba(3, 171, 205, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  body {
    padding: 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
input,
button,
a,
input:focus,
button:focus,
a:focus {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.pageAnimation {
  animation: bottom 0.8s 0s both;
}

@keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
