:root {
  --theme-bg: #1a1a1a;
  --theme-main-bg: #1f1f1f;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: #a0a0a0;
  --brand-color: #e72787;
  --c-orange: #fdad00;
  --c-softBlue: #32a7e2;
  --c-purple: #6c5ecf;

  --delay: 0s;
}
